@tailwind base;
@tailwind components;
@tailwind utilities;

.task-ghost {
	cursor: grabbing !important;
	opacity: 0.9;
	transform: scale(1.02);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
	background-color: #0a0b0b;
	color: white;
}

#root {
	max-width: 1270px;
	margin: 0 auto;
}

.create-team-input,
.create-project-input,
.invite-input,
.input-task-board,
.input-table,
.input-settings,
.input-auth {
	background: none;
	border: none;
	outline: none;
}

.create-team-button,
.btn-team,
.btn-project {
	border: 1px solid white;
	border-radius: 7px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 20px;
}

.invite-on-team__button,
.button-task-board,
.button-auth {
	border: 1px solid white;
	border-radius: 7px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

.btn-red {
	border-color: orangered !important;
}

.btn-orange {
	border-color: orange !important;
}

textarea {
	background: none;
	border: none;
	outline: none;
}

textarea:focus {
	outline: none;
}
